/*
====================================
------------------------------------
	1. General
	2. Preloader
	3. Header
	4. Main Slider
	5. Carousel Effect
	6. Search
	7. Featured
	8. Services
	9. Footer
	10. Single Orchard
-------------------------------------
=====================================
*/

/*====================
=======General========
======================*/

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('//fonts.googleapis.com/css?family=Pacifico');

body {
	background: #fff;
	color:#43484E;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	position: relative;
}

.container {
	width:100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color:#97bf0d;
}

a:hover {
	outline: none;
	text-decoration:none;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

$grid-breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);


/*====================
======Preloader=======
======================*/

.preloader{
	background: #fff;
	display: table;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.preloder-wrap{
	display: table-cell;
	vertical-align: middle;
}

.preloder-inner {
	height: 100px;
	margin: 0 auto;
	width: 200px;
}

.ball {
	border-radius: 50px;
	height: 10px;
	margin: 10px auto;
	width: 10px;
}
  
.ball:nth-child(1) {
	animation: right 1s infinite ease-in-out;    
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	background: #97bf0d;
}

.ball:nth-child(2) {
	animation: left 1.1s infinite ease-in-out;
	-webkit-animation: left 1.1s infinite ease-in-out;
	-moz-animation: left 1.1s infinite ease-in-out;
	background: #786854;
}

.ball:nth-child(3) {
	animation: right 1.05s infinite ease-in-out;
	-webkit-animation: right 1.05s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out;
	background: #97bf0d;
}

.ball:nth-child(4) {
	animation: left 1.15s infinite ease-in-out;
	-webkit-animation: left 1.15s infinite ease-in-out;
	-moz-animation: left 1.15s infinite ease-in-out;
	background: #786854;
 }

.ball:nth-child(5) {
	animation: right 1.1s infinite ease-in-out;
	-webkit-animation: right 1.1s infinite ease-in-out;
	-moz-animation: right 1.1s infinite ease-in-out;
	background: #97bf0d;  
}

.ball:nth-child(6) {
	animation: left 1.05s infinite ease-in-out;
	-webkit-animation: left 1.05s infinite ease-in-out;
	-moz-animation: left 1.05s infinite ease-in-out;
	background: #786854;  
}

.ball:nth-child(7) { 
	animation: right 1s infinite ease-in-out;
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	background: #97bf0d; 
}

@-webkit-keyframes right {
	0%   { -webkit-transform: translate(-15px);   }
	50%  { -webkit-transform: translate(15px);    }
	100% { -webkit-transform: translate(-15px);   }
}

@-webkit-keyframes left {
	0%   { -webkit-transform: translate(15px);    }
	50%  { -webkit-transform: translate(-15px);   }
	100% { -webkit-transform: translate(15px);    }
}

@-moz-keyframes right {
	0%   { -moz-transform: translate(-15px);   }
	50%  { -moz-transform: translate(15px);    }
	100% { -moz-transform: translate(-15px);   }
}

@-moz-keyframes left {
	0%   { -moz-transform: translate(15px);    }
	50%  { -moz-transform: translate(-15px);   }
	100% { -moz-transform: translate(15px);    }
}

@keyframes right {
	0%   { transform: translate(-15px);  }
	50%  { transform: translate(15px);   }
	100% { transform: translate(-15px);  }
}

@keyframes left {
	0%   { transform: translate(15px);   }
	50%  { transform: translate(-15px);  }
	100% { transform: translate(15px);   }
}

/*====================
========Header========
======================*/

#navigation .navbar {
	background:rgba(255, 255, 255, 0.952941);
	border-bottom: 0;
	border-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.598039) 0px 0px 5px;
	margin-bottom: 0;
}

#navigation .navbar-toggle{
	background-color: #97bf0d;
	border-color:#97bf0d;
	margin-top: 20px;
}

.navbar-inverse .navbar-collapse {
	border-top: 1px solid transparent;
	padding-top:0.5em;
}

#navigation .navbar-brand {
	margin: 0;
	padding: 0;
}

#navigation .navbar-nav.navbar-right {
	margin-top:20px
}

#navigation .navbar-nav.navbar-right li {
	padding: 0 1px;
}

#navigation .navbar-nav.navbar-right li a {
	color: #43484E;
	font-size: 1.2em;
	padding: 0;
	padding: 6px 15px;
}

#navigation .navbar-nav.navbar-right li a:hover{
	background-color: #fff;
}


/*======================
======Modals Forms======
========================*/

.modal-dialog{
	width: 33%;
}

.modal-dialog-photo {
	width: 70%;
}

.modal-content{
	border-radius: 0;
	margin-top: 5em;
}

.modal-body {
	padding: 0;
	margin-top: 2em;
}

.modal-body button.close{
	padding: 0.5em;
}

.modal-body .form-control {
	border-radius: 0;
	font-size: 1.2em;
	height: 3.5em;
}

.modal-body .remember-recover {
	margin-top: 2em;
}

.modal-body .checkbox{
   	padding-top: 0;
   	font-size: 1.1em;
}


.modal-body input[type=checkbox]{
	height: 1.4em;
	margin-left: -25px;
	margin-top: 0.3em;
	padding: 0.2em;
	width: 25%;
}

.modal-body #recover-password{
	font-size: 1.1em;
   	padding: 0;
   	text-align: right;
   	width: 55%;
}

.modal-body input.error {
    border: 1px solid #FC642D;
}

.modal-body label.error{
	border: none;
	color:red;
	margin-top: 0.4em;
}

.modal-body .authenticate-error{
	display: none;
	height: 4.5em;
	margin-bottom: 1.15em;
}

.modal-body .authenticate-error-ico{
	background-color: #ffcf79;
	height: 4.5em;
	padding: 0.5em 0.5em 0.5em 1em;
}

.modal-body .authenticate-error-message{
	background-color: #ffcf79;
	color: #666;
	font-size: 1.3em;
	height: 3.45em;
	padding: 1em 0.5em 0em 1.8em;
}

.modal-body #login-button, .modal-body #register-button,
.modal-body #upload-button,.modal-body #cancel-button{
    background-color: #4cae4c;
    border: 0;
	border-radius: 0;
	font-size: 1.3em;
	height: 3.5em;
	margin-bottom: 1em;
	margin-top: 1em;
	outline: 0;
	width: 100%;
}

.modal-body #login-button:hover, .modal-body #register-button:hover,
.modal-body #upload-button:hover {
    background-color: #398439;
    outline: 0;
}

.modal-body #cancel-button{
	background-color: #ffcf79;
}

.modal-body #cancel-button:hover{
	background-color: #efb043;
}

.modal-body .submit-photo {
	padding: 0;
}

.modal-body #orchard-image {
	width: 100%;
}

/*======================
======Main Slider=======
=======================*/

#slider{
	overflow: hidden;
	padding: 0;
	position:relative
}

#main-carousel .carousel-inner {
	height:77vh;
}

#main-carousel .carousel-inner .item {
	background-position: 50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	height: 100%;
}

.slider-btn {
	background-color:#fff;
	border: 2px solid #666;
	border-radius: 3em;
	color: #666;
	font-size: 1.2em;
	font-weight:500;
	line-height:2em;
	margin: 2em 0;
	padding: 0 1em;
	text-align: center;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	width: 15em;
}

.slider-btn:hover {
	background-color:#fff;
	color:#666;
}

#main-carousel .carousel-caption {
	display: table;
	height: 100%;
	left: 0;
	min-height: 100%;
	top: 0;
	width: 100%;
	z-index: 11;
}

#main-carousel .carousel-caption > div{
    display: table-cell;
}

#main-carousel .carousel-inner h1 {
	color: #666;
	display: inline-block;
	font-size: 3em;
	font-weight: 400;
	margin-left: -0.6em;
	margin-top: 2em;
	text-shadow: none;
	text-align: left;
	width: 100%;
}

#main-carousel .carousel-left{
	left:-50px;
}

#main-carousel .carousel-right{
	right:-50px;
}

#main-carousel:hover .carousel-left{
	left:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel:hover .carousel-right{
	right:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel .carousel-left,
#main-carousel .carousel-right{
	color: rgba(255, 255, 255, 0.52);
	font-size: 40px;
	margin-top: -60px;
	padding: 15px;
	position: absolute;
	text-align: center;
	transition: 300ms;
	top: 46%;
	z-index: 12;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
}


#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover{
	color: #4cae4c;
}

/*============================
======Carousel Effect=========
==============================*/

.carousel.scale .carousel-inner > .item.left > div:nth-child(1),
.carousel.scale .carousel-inner > .item.right > div:nth-child(1) {
	-webkit-animation: fadeOutDown 500ms linear 0ms both;
	animation: fadeOutDown 300ms linear 0ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(1),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(1) {
	-webkit-animation: fadeInDown 500ms linear 75ms both;
	animation: fadeInDown 300ms linear 75ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(2),
.carousel.scale .carousel-inner > .item.right > div:nth-child(2) {
	-webkit-animation: fadeOutDown 500ms linear 75ms both;
	animation: fadeOutDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(2),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(2) {
	-webkit-animation: fadeInDown 500ms linear 150ms both;
	animation: fadeInDown 300ms linear 150ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(3),
.carousel.scale .carousel-inner > .item.right > div:nth-child(3) {
	-webkit-animation: fadeOutDown 500ms linear 150ms both;
	animation: fadeOutDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(3),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(3) {
	-webkit-animation: fadeInDown 500ms linear 225ms both;
	animation: fadeInDown 300ms linear 225ms both;
}


/*=======================
=========Search==========    
=========================*/

.search-form-container {
	border: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.598039) 0px 0px 5px;
	margin-top:3em;
	position: absolute;
	top: -15em;
	z-index: 22;
	background: #fff;
}

#search-location-container {
 	float:left;
 	margin: 1em 1em;
 	width: 60%;
}

#search-location-container label {
	color: #666;
	display:block;
	font-size:1.2em;
	font-weight:600;
}
 
#search-submit-container {
	float: right;
	width:25%;
}

#search-submit-container #send-search {
	background-color: #4cae4c;
	border: 0;
	border-radius: 0;
    color: #fff;
    font-size: 1.4em;
    font-weight: normal;
    float: right;
    line-height: 2.3em !important;
	margin-top: 1em;
	width:100%;
 }
 
#search-submit-container #send-search:hover{
	background-color: #398439;
}

/*=======================
======Search_Results======
=========================*/
#overlay {
	height: 100%;
  	position: fixed;
  	width: 100%;
  	z-index: 100;
}

.search-filter {
	border-left: 1px solid #ccc;
	display: none;
	padding: 2em 3em 2em 3em;
	position: sticky;
	top:-2em;
	z-index: 101;
}

.filters-header{
	margin-top: 2em;
}

.filter-title {
	margin-top: 3em;
	font-size: 1.4em;
}

#close-search-filter{
	outline: 0;
	padding: 0;
	margin-top:-1em;
}

.range-container #max-price, #max-area {
	float:right;
}

.range-container span {
	font-size: 1.2em;
}

#price-filter-slider {
	width: 100%;
}

.slider.slider-horizontal {
  width: 100%;
  height: 20px;
}

.service-container {
	margin-top: 1em;
}

.service-container input[type=checkbox]{
	height: 1.4em;
	margin-top: 0.3em;
	padding: 0.2em;
	width: 25%;
}

.service-container .service-label{
	font-size: 1.2em;
}

.search-filter  #filter-results-button {
	background-color: #47a447;
	border-radius: 0;
	color: #fff;
	font-size: 1.6em;
	height: 2.5em !important;
	margin-top: 2.5em;
	text-align: center;
	width: 100%;
}

.search-filter  #filter-results-button:hover {
	background-color: #398439;
	text-align: center;
}

.search-results #search-header {
    height: 4em;
	margin-top: 0.2em;
	position: sticky;
	top:0;
	z-index: 20;
	background-color: #fff;
}

.search-results #search-header-offset {
	height: 4em;
	margin-top: 0.2em;
	position: sticky;
	top:0;
	z-index: 20;
	background-color: #fff;
	margin-right: -3em;
    padding-left: 1em;
    margin-left: -5em;
    box-shadow: rgba(0, 0, 0, 0.298039) -10px 4px 40px;
    -webkit-box-shadow: -10px 4px 40x rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 4px 40px rgba(0,0,0,0.75);
}

.search-results #search-location-container {
    border: 1px solid #ccc;
	float: left;
	margin: 0;
	margin-top: 0.7em;
    padding: 0.2em 0.2em 0.2em 0.4em;  
    width: 75%;
}

.search-results #search-location-container .easy-autocomplete input:hover, .search-results #search-location-container .easy-autocomplete input:focus {
  	border-bottom: 0;
}

.search-results .easy-autocomplete-container{
	left: -2.5em;
	width: 120%;
}

.search-results #search-submit-container {
	float: right;
	width: 20%;
}


.search-results #search-submit-container #send-search {
	background-color: #fff;
	background-image: url("../images/ico/search-ico.png");
	background-repeat: no-repeat;
	margin-top: 0.1em;
	outline: 0;
	width: 100%;
}

#filter-options  #filter-options-button {
	background-color: #47a447;
	border-radius: 0;
	color: #fff;
	height: 2em !important;
    line-height: 0.8em;
    margin-left: -1.8em;
	margin-top: 0.5em !important;
	text-align: center;
	width: 100%;
}

#filter-options #filter-options-button:hover {
	background-color: #398439;
	text-align: center;
}

.search-filter #search-filter-title h3 {
	font-size: 2em;
	margin-left: -0.4em;
	margin-top: 0.6em;
}

.search-results #search-results-title h2 {
	font-size: 2em;
	margin-top: 0.5em;
}

.search-results{
    border-left: 1px solid #ccc;
    padding: 2em 3em 2em 4.5em;
}

.search-results #search-results-container {
	margin-top: 2.5em;
}

.search-results .single-orchard  {
	margin-bottom: 2em;
}

.search-results .single-orchard ul {
	margin-top: 0.5em;
	overflow:hidden;
	padding:0;
}

.search-results .single-orchard ul li {
	border-right: 2px solid #999999;
	color:#999;
	float: left;
	font-size: 1em;
	line-height: 1em;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
}

.search-results .single-orchard ul li:last-child {
	border:none;
}


.search-results .single-orchard #orchard-image{
	height: 17em;
	margin-bottom:0.5em;
	overflow: hidden;
	width:100%;
}

.search-results .single-orchard #orchard-details h3 {
	color: #666666;
	display: inline-block;
	font-size: 1.4em;
	margin-top:0.2em;
	position:relative;
	text-align: left;
}

/*=====================
========Featured=======
======================*/

#featured {
	padding-bottom:2em;
}

#featured-title {
	color: #666666;
	display: inline-block;
	font-size: 1.7em;
	font-weight: 600;
	margin-top:2em;
	position:relative;
	text-align: left;
}

.single-featured ul {
	overflow:hidden;
	padding:0;
}

.single-featured ul li {
	border-right: 2px solid #999999;
	color:#999;
	float: left;
	font-size: 1em;
	line-height: 1em;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
}

.single-featured ul li:last-child {
	border:none;
}


.single-featured #featured-image{
	height: 17em;
	margin-bottom:20px;
	overflow: hidden;
	width:100%;
}

.single-featured #featured-details h2 {
	color:#43484E;
	font-size:1.5em;
	margin:0;
	margin-bottom:15px;
}

.media-carousel {
	margin: 0 auto;
	margin-bottom: 0;
	padding: 15px 40px;
	width: 90%;
}

.media-carousel .carousel-control.left {
	background-image: none;
	color:#666;
	height: 40px;
	left: -8em;
	margin: 15vh;
	width : 40px;
}

.media-carousel .carousel-control.right {
	background-image: none;
	color:#666;
	height: 40px;
	margin: 15vh;
	right: -8em !important;
	width : 40px;
}

/*====================
=======Services=======
======================*/

.parallax-section{
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 300px;
	width: 100%;
}

#services {
	background-color:	#0A0A13;
	background-image: url("../images/services/service-bg.jpg");
	color:#fff;
	text-align:center;
}

.services {
	display:block;
	margin: 80px 0;
	overflow:hidden;
}

#services h2{
	border-color: #fff;
	color: #fff;
	margin-bottom:35px
}

.single-service {
	background-color: rgba(0, 0, 0, 0.39);
	padding:25px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service p {
	text-align:justify;
}

.single-service i {
	background-color: #fff;
	border-radius: 50%;
	color:#786854;
	display: inline-block;
	font-size:80px;
	height: 150px;
	line-height: 150px;
	text-align:center;
	width: 150px;
}

.single-service:hover {
	background-color: #4cae4c;
}

/*====================
=========Footer=======
======================*/

#footer {
	background-color:#f6f6f6;
	color:#43484E;
	font-size:16px;
	margin-top:1px;
	padding:25px 0;
	position:relative;
}

#footer p {
	margin: 0
}

#footer a {
	color:#97bf0d
}

/*====================
===Publish_Orchard====
======================*/

.publish-orchard{
	overflow: hidden;
}

.publish-orchard .authenticate-error-publish{
	background-color: #ffcf79;
	display: none;
	height: 4.5em;
}

.publish-orchard .authenticate-error-ico{
	background-color: #ffcf79;
	height: 4.5em;
	padding: 0.5em 0.5em 0.5em 1em;
	width: 6%;
}

.publish-orchard .authenticate-error-message{
	background-color: #ffcf79;
	color: #666;
	font-size: 1.3em;
	height: 3.45em;
	padding-top: 1em;
}

.publish-orchard-form fieldset:not(:first-of-type) {
    display: none;
}

.publish-form-container{
	height: 80vh;
	overflow: -moz-scrollbars-none;
	overflow-y: hidden;
	position: fixed;
}

.publish-form-container::-webkit-scrollbar { 
	width: 0 !important 
}

.publish-form-container label.error{
	border: none;
	color:red;
	margin-top: 0.4em;
}

.publish-form-container .form-title h2{
	font-size: 6em;
	margin: 0.5em 0; 
}

.publish-form-container .option-title label{
	font-size: 1.9em;
	margin: 0.5em 0;
}

.publish-form-container #province{
	border: 1px solid #ccc;
	border-radius: 0;
	color: #666;
	font-size: 1.9em;
	height: 1.7em;
	margin-bottom: 0.5em;
	outline: 0;
	padding-left: 0.3em;
	width: 65%;
}

.publish-form-container #publish-location-container{
	border: 1px solid #ccc;
	font-size: 1.4em;
	height: 2.2em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	width: 65%;
}

.publish-form-container .easy-autocomplete-container{
	left: -0.55em;
	width: 102.5%;
}

.image-form #location-ico {
	background-image: url("../images/ico/localization.png");
	background-repeat: no-repeat;
	height: 70vh;
	border: 0;
}

.publish-form-container #ad_title{
	border: 1px solid #ccc;
	color: #666;
	font-size: 1.4em;
	height: 2em;
	margin-bottom: 1em;
	padding-left: 0.4em;
	width: 65%;
}

.publish-form-container .price-area-container{
	margin-left: -0.2em;
}

.publish-form-container #price, .publish-form-container #area{
	border: 1px solid #ccc;
	color: #666;
	font-size: 1.4em;
	height: 2em;
	margin-bottom: 1em;
	padding-left: 0.3em;
	width: 85%;
}

.publish-form-container #area-title{
	margin-left: -1.3em;
}

.publish-form-container #price{
	margin-left: -1.1em;
}

.publish-form-container #orchard-description{
	border: 1px solid #ccc;
	border-radius: 0;
	color: #666;
	font-size: 1.4em;
	margin-bottom: 2em;
	width: 65%;
}

.publish-form-container #tools-button, .publish-form-container #tools-button-active, 
.publish-form-container #fenced-button, .publish-form-container #fenced-button-active,
.publish-form-container #warehouse-button, .publish-form-container #warehouse-button-active,
.publish-form-container #parking-button, .publish-form-container #parking-button-active,
.publish-form-container #electricity-button, .publish-form-container #electricity-button-active,
.publish-form-container #greenhouse-button, .publish-form-container #greenhouse-button-active,
.publish-form-container #well-button, .publish-form-container #well-button-active, 
.publish-form-container #farmyard-button, .publish-form-container #farmyard-button-active{
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	height: 3em;
	margin: 1.2em 0;
	outline: 0;
	width: 100%;
}

.publish-form-container #tools-button{
	background-image: url("../images/ico/tools-ico.png");
}

.publish-form-container #tools-button-active{
	background-image: url("../images/ico/tools-ico-hover.png");
}

.publish-form-container #fenced-button{
	background-image: url("../images/ico/fenced-ico.png");
}

.publish-form-container #fenced-button-active{
	background-image: url("../images/ico/fenced-ico-hover.png");
}

.publish-form-container #warehouse-button{
	background-image: url("../images/ico/warehouse-ico.png");
}

.publish-form-container #warehouse-button-active{
	background-image: url("../images/ico/warehouse-ico-hover.png");
}

.publish-form-container #parking-button{
	background-image: url("../images/ico/parking-ico.png");
}

.publish-form-container #parking-button-active{
	background-image: url("../images/ico/parking-ico-hover.png");
}

.publish-form-container #electricity-button{
	background-image: url("../images/ico/electricity-ico.png");
}

.publish-form-container #electricity-button-active{
	background-image: url("../images/ico/electricity-ico-hover.png");
}

.publish-form-container #greenhouse-button{
	background-image: url("../images/ico/greenhouse-ico.png");
}

.publish-form-container #greenhouse-button-active{
	background-image: url("../images/ico/greenhouse-ico-hover.png");
}

.publish-form-container #well-button{
	background-image: url("../images/ico/well-ico.png");
}

.publish-form-container #well-button-active{
	background-image: url("../images/ico/well-ico-hover.png");
}

.publish-form-container #farmyard-button{
	background-image: url("../images/ico/farmyard-ico.png");
}

.publish-form-container #farmyard-button-active{
	background-image: url("../images/ico/farmyard-ico-hover.png");
}

.publish-form-container #upload-image{
	background-image: url("../images/ico/upload-photo-ico.png");
	background-repeat: no-repeat;
	cursor: pointer;
	height: 7.5em;
	margin-top: 2em;
	width: 7.5em;
}

.publish-form-container #upload-image:hover{
	background-image: url("../images/ico/upload-photo-ico-hover.png");
}

.publish-form-container #file-input{
	opacity: 0;
   	position: absolute;
   	z-index: -1;
}

.photo-orchard #photo-orchard {
	height: 7.5em;
	margin: 1.6em 1em 0 0;
	overflow: hidden;
	width:  7.5em;
}

.photo-orchard #photo-orchard:hover {
	opacity: 0.7;
}

.help{
	float: right;
}

.help-form, .error-form{
	float: right;
	height: 20vh;
	margin: 7em 2.5em 1em 0;
	width: 82%;
}

.error-form{
	display: none;
	margin: 3em 2.5em 1em 0;
}

.help-form .help-main-message, .error-form .error-main-message{
	border: 1px solid #ccc;
	color: #666;
	box-shadow: rgba(0, 0, 0, 0.598039) 0px 0px 5px;
	padding-left: 0.6em;
}

.error-form .error-main-message{
	width: 100%;
}

.help-content, .error-content{
	margin-top: 1em;
}

.error-content{
	margin-bottom: 1em;
}

.help-form .help-main-message h4, .help-form .help-message h4,
.error-form .error-main-message h4, .error-form .error-message h4{
	color: #666;
	font-size: 1.2em;
	font-weight: 600;
}

.help-ico, .error-ico {
	background-image: url("../images/ico/help-ico.png");
	background-repeat: no-repeat;
	height: 7.5em;
	margin-top: 1em;
	width: 7.5em;
}

.help-form .help-message{
	border: 1px solid #ccc;
	color: #666;
	box-shadow: rgba(0, 0, 0, 0.598039) 0px 0px 5px;
	padding-left: 0.6em;
}


.help-message #ad_title-message, .help-message #price-message,
.help-message #area-message, .help-message #description-message,
.help-message #fenced-message, .help-message #parking-message,
.help-message #electricity-message, .help-message #well-message,
.help-message #tools-message, .help-message #warehouse-message,
.help-message #farmyard-message, .help-message #greenhouse-message {
	display: none;
}

.image-form #upload-photo-ico {
	background-image: url("../images/ico/upload-photo.png");
	background-repeat: no-repeat;
	height: 70vh;
	border: 0;
}

.breadcrumbs{
	background-color: #4cae4c;
	bottom: 1em;
	height: 0.3em;
	left: 0;
	position: fixed;
	width: 100%;
}


.back-button{
	background-color: #ffcf79;
	border: 0;
	border-radius: 0;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    line-height: 0.9em !important;
    margin-top: 0.5em;
    outline: 0;
    position: fixed;
    bottom: 1.5em;
    left: 2em;
	width:17%;
}

.back-button:hover, .back-button:focus {
	background-color: #efb043;
	color:#fff;
	outline: 0;
}

.next-button, .finish-button {
	background-color: #4cae4c;
	border: 0;
	border-radius: 0;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    line-height: 0.9em !important;
    margin-top: 0.5em;
    outline: 0;
    position: fixed;
    bottom: 1.5em;
    right: 2em;
	width:17%;
}

#next-button-center{
    right: 41%;
}

.next-button:hover, #next-button-center:hover, .finish-button:hover,
.next-button:focus, #next-button-center:focus, .finish-button:focus{
    background-color: #398439;
    color: #fff;
    outline: 0;
}

/*====================
====Single Orchard====
======================*/

.single-orchard-container #single-orchard-photo{
		height:70vh;
		overflow: hidden;
		padding: 0;
		width: 100%;	
	}


.single-orchard-container #single-orchard-photo img{
	width: 100%;
}

.single-orchard-container #single-orchard-details{
	margin-left: 7em;
	width: 50%;
}

.single-orchard-container #single-orchard-details h2 {
	font-weight: 600;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.single-orchard-container #single-orchard-details h3 {
		font-size: 1.9em;
		margin-bottom: 1em;
	}	


.single-orchard-container #single-orchard-details h4 {
	font-weight: 600;
	margin-top: 0;
}

.single-orchard-container #single-orchard-details p {
	font-size: 1.2em;
	text-align: justify;
}

#single-orchard-details #single-orchard-services {
	border-top: 0.2em solid #ddd;
	border-bottom: 0.2em solid #ddd;
	margin-bottom: 2em;
	padding-top: 0.5em;
}

.single-orchard-services-container{
	margin-left: 5em;
}

.option-orchard-services {
	margin-bottom: 1em;
	width: 25%;
}

.option-orchard-services #y {
	color: #484848;
}

.option-orchard-services #n {
	color: #767676;
	text-decoration:line-through;
}

.single-orchard-container #contact-form {
	background-color: #ddd;
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top:0;
	width:100%;
}

.single-orchard-container #contact-container {
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top:0;
	margin: -4em 0 0 6.5em;
	width:27%;
}

.single-orchard-container #contact-container h3 {
	font-size: 1.7em;
	font-weight: 600;
	margin-top: 1.2em;
	margin-bottom: 0.9em;
}

.single-orchard-container #message-field{
	border: 0;
	border-radius: 0;
	font-size: 1.2em;
	margin-bottom: 1em;

}

.single-orchard-container #contact-header {
	color: #fff;
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	background-color: #5c6b26;
	height: 2.25em;
	margin: 0;
	opacity: 0.9;
	padding-top: 0.2em;
}

.single-orchard-container #contact-header span {
	font-size: 0.8em;
}

.single-orchard-container #contact-container label {
	font-size: 1.1em;
}

.single-orchard-container #contact-container input {
    border: none;
	font-size: 1.4em;
	height: 2em;
	margin: 0 auto;
	margin-bottom: 0.6em;
	padding-right: 0.4em;
	width: 100%;
}

.single-orchard-container  #send-message {
	background-color: #47a447;
	border-radius: 0;
	color: #fff;
	height: 2.5em !important;
	margin-top: 0.5em !important;
	text-align: center;
}

.single-orchard-container  #send-message:hover {
	background-color: #398439;
	text-align: center;
}

/*====================
=====Autocomplete=====
======================*/

.easy-autocomplete {
 	 position: relative;
 	 width: 100% important!;
}
.easy-autocomplete input {
  	border:0;
  	color: #666;
  	font-size: 1.4em;
 	width: 100% important!;
}

.easy-autocomplete input::-webkit-input-placeholder{
	color: #ccc;
}
.easy-autocomplete input:hover, .easy-autocomplete input:focus {
	color: #666;
	font-size: 1.4em;
	outline:0;
	width: 97%;
}
.easy-autocomplete a {
  display: block;
}

.easy-autocomplete.eac-bootstrap input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #555;
  padding: 6px 12px;
}

.easy-autocomplete-container {
  left: -1em;
  position: absolute;
  width: 100%;
  z-index: 15;
}
.easy-autocomplete-container ul {
  background: none repeat scroll 0 0 #ffffff;
  border-top: 1px dotted #ccc;
  display: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -1px;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
  background: inherit;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  padding: 4px 12px;
}
.easy-autocomplete-container ul li:last-child {
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px;
}
.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 #ebebeb;
  cursor: pointer;
}
.easy-autocomplete-container ul li.selected div {
  font-weight: normal;
}
.easy-autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  word-break: break-all;
}
.easy-autocomplete-container ul li b {
  font-weight: bold;
}
.easy-autocomplete-container ul .eac-category {
  font-color: #aaa;
  font-style: italic;
}

.eac-icon-right .eac-item {
  margin-top: 8px;
  min-height: 24px;
  position: relative;
}

.eac-description .eac-item span {
  color: #aaa;
  font-size: 0.9em;
  float: right;
}

.eac-icon-left .eac-item img {
  margin-right: 4px;
  max-height: 30px;
}

.eac-icon-right .eac-item img {
  margin-left: 4px;
  max-height: 30px;
  position: absolute;
  right: -4px;
  top: -8px;
}







