@media (min-width:992px) and (max-width:1400px){

	/*====================
	========Header========
	======================*/

	#navigation .navbar-nav.navbar-right li a {
		font-size: 1.15em;
		margin-right: 1em;
	}

	/*======================
	======Modals Forms=======
	=======================*/

	.modal-dialog{
		width: 33%;
	}

	.modal-dialog-photo {
		width: 40%;
	}

	.modal-content{
		border-radius: 0;
		margin-top: 5em;
	}

	.modal-body {
		padding: 0;
		margin-top: 2em;
	}

	.modal-body button.close{
		padding: 0.5em;
	}

	.modal-body .form-control {
		border-radius: 0;
		font-size: 1.2em;
		height: 3.5em;
	}

	.modal-body .remember-recover {
		margin-top: 2em;
	}

	.modal-body .checkbox{
	   	padding-top: 0;
	   	font-size: 1.1em;
	}


	.modal-body input[type=checkbox]{
		height: 1.4em;
		margin-left: -25px;
		margin-top: 0.3em;
		padding: 0.2em;
		width: 25%;
	}

	.modal-body #recover-password{
		font-size: 1.1em;
	   	padding: 0;
	   	text-align: right;
	   	width: 55%;
	}

	/*======================
	======Main Slider=======
	=======================*/
	
	#main-carousel .carousel-left, #main-carousel .carousel-right {
		top: 53.5%;
	}

	#main-carousel .carousel-inner h1 {
		font-size: 2.4em;
	}

	/*=======================
	=========Search==========    
	=========================*/

	.search-form-container {
		margin-top: 2em;
	}

	/*=======================
	======Search_Results=====    
	=========================*/

	.search-results #search-location-container {
	    width: 80%;
	}

	.search-results #search-submit-container {
		width: 15%;
	}

	.search-results .easy-autocomplete-container {
		left: -2.5em;
	}

	#filter-options  #filter-options-button {
		margin-left: 0;
	}

	.search-filter #search-filter-title h3 {
		font-size: 1.8em;
		margin-top: 1em;
	}

	.service-container .service-label {
		font-size: 1em;
	}

	.filter-title {
		margin-top: 1em;
		font-size: 1.2em;
	}

	.search-filter  #filter-results-button {
		margin-top: 1.5em;
	}

	/*=====================
	========Featured=======
	======================*/

	#featured-title {
		margin-left: 0.3em;
	}

	/*====================
	===Publish_Orchard====
	======================*/

	.publish-form-container{
		height: 80vh;
	}

	.publish-form-container .form-title h2{
		font-size: 4.5em;
		margin: 0.5em 0 0.5em 0;
	}

	.publish-form-container .option-title label{
		font-size: 1.5em;
		margin: 0.3em 0;
	}

	.publish-form-container #province{
		font-size: 1.4em;
		height: 1.7em;
		margin-bottom: 1em;
	}

	.publish-form-container #publish-location-container{
		font-size: 1em;
		height: 2.4em;
		margin-bottom: 0.5em;
		padding-left: 0.8em;
	}

	.publish-form-container .easy-autocomplete-container{
		left: -1.05em;
		width: 104.2%;
	}

	.publish-form-container #ad_title{
		font-size: 1.4em;
		height: 1.7em;
		margin-bottom: 1em;
		width: 65%;
	}

	.publish-form-container .price-area-container{
		margin-left: -0.2em;
	}

	.publish-form-container #price{
		font-size: 1.4em;
		height: 1.7em;
		margin-bottom: 1em;
		margin-left: -1em;
		width: 85%;
	}

	.publish-form-container #area-title{
		margin-left: -1.3em;
	}

	.publish-form-container #area{
		font-size: 1.4em;
		height: 1.7em;
		margin-bottom: 1em;
		width: 85%;
	}

	.publish-form-container #orchard-description{
		border-radius: 0;
		font-size: 1.4em;
		width: 65%;
	}

	.image-form #upload-photo-ico, .image-form #location-ico {
		margin-top: 0;
	}

	.publish-form-container #next-button{
	    font-size: 1.4em;
	    margin-right: 1.8em;
	    line-height: 1.3em !important;
		margin-top: 1.6em;
		width:46%;
	}

	.step-container{
		margin: 0.5em 0 1em 0;
	}

	/*====================
	====Single Orchard====
	======================*/

	.single-orchard-container #single-orchard-photo img{
		overflow: hidden;
	}

	.single-orchard-container #single-orchard-details h2 {
		font-size: 1.9em;
	}

	.single-orchard-container #single-orchard-details h3 {
		font-size: 1.5em;
		margin-bottom: 1.5em;
	}	

	.single-orchard-container #single-orchard-details h4 {
		font-size: 1.1em;
	}

	.single-orchard-container #single-orchard-details p {
		font-size: 1.15em;
	}

	.single-orchard-container #contact-container #contact-header {
		font-size: 1.6em;
		height: 2em;
	}	

	.single-orchard-container #contact-container {
  		margin: -3.2em 0 0 6.5em;
	}

	.single-orchard-container #contact-container h3{
		font-size: 1.5em;
	}

}


@media (min-width:768px) and (max-width:991px){

	/*====================
	========Header========
	======================*/

	#navigation .navbar-nav.navbar-right li{
		padding:0 0;
	}

}


@media (max-width:767px){

	/*====================
	========Header========
	======================*/

	#navigation .navbar-nav.navbar-right{
		margin-top:0
	}
	.media,.media-body{
		overflow:inherit!important
	}
	#navigation .navbar-inverse .navbar-nav .active a,
	#navigation .navbar-inverse .navbar-nav .active a:focus,
	#navigation .navbar-nav.navbar-right li a:hover{
		border:none
	}

	/*======================
	======Main Slider=======
	=======================*/

	#main-carousel .carousel-inner h2{
		border-bottom:0;
		font-size:30px
	}
}


@media (max-width:479px){

	/*====================
	=======General========
	======================*/

	body section{
		overflow:hidden
	}

	/*====================
	========Header========
	======================*/

	#navigation .navbar-nav.navbar-right li a{
		padding:5px 15px;
		font-size:18px;
		font-weight: 300;
		margin-bottom: 0.4em;
	}
	.media,.media-body{
		overflow:inherit!important
	}
	#navigation .navbar-inverse .navbar-nav .active a,
	#navigation .navbar-inverse .navbar-nav .active a:focus,
	#navigation .navbar-nav.navbar-right li a:hover{
		border:none
	}

	/*======================
	======Main Slider=======
	=======================*/
	
	#main-carousel .carousel-inner {
	height:112vw;
	}
	
	#main-carousel .carousel-inner h2{
		border-bottom:0;
		font-size:30px
	}
	.media-carousel .carousel-control.left 
	{
	  left: -4.3em;
	  background-image: none;
	  background: none repeat scroll 0 0 #000;
	  border: 4px solid #000;
	  border-radius: 23px 23px 23px 23px;
	  height: 40px;
	  width : 40px;
	  margin: 10vh;
	}
	.media-carousel .carousel-control.right 
	{
	  right: -4.3em !important;
	  background-image: none;
	  background: none repeat scroll 0 0 #000;
	  border: 4px solid #000;
	  border-radius: 23px 23px 23px 23px;
	  height: 40px;
	  width : 40px;
	  margin: 10vh;
	}
}